<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
  <h1>{{description}}</h1>
  <img width="300" alt="Angular Logo" [src]="imagepath">
</div>


<router-outlet></router-outlet>
